.cards {
    background-color: azure;
    padding: 1rem;
    box-shadow: 0 0 5px #333;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    font-size: 20px;
  }

  .title-red {
    color: red;
  }

  .title-green {
    color: green;
  }

  .animal-edit-button {
    background: whitesmoke;
    height: 20px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid black;
  }